@model List<Inter_New_App_Joins.Models.StudentsModel>








@foreach (var item in ViewBag.data)
{
    <h3>Name : @item.Name</h3>

    <h3>Email : @item.Email</h3>

    <h3>Standard : @item.Standard</h3>

    <h3>Address : @item.Address</h3>

}



